*.pyc
*.egg-info/
*.swp
.eggs/
c7n/version.py
src/
deps/
include/
lib/
bin/
!tools/c7n_azure/c7n_azure/function_binding_resources/bin
tools/c7n_azure/c7n_azure/function_binding_resources/obj/
tools/c7n_azure/c7n_azure/cache
dist/
man/
lib64
.Python
pip-selfcheck.json
coverage/
.coverage
tmp/
docs/source/generated/
docs/build/
cache/
policies/
local/
*~
share/
out/
.DS_STORE
.tox/
results.xml
.idea/
.vscode/
!.vscode/*.sample
.pytest_cache/
pyvenv.cfg
junit
/.vs
docs/source/overview\.rst
docs/source/tools/c7n-mailer\.md
docs/source/tools/c7n-org\.md
docs/source/tools/c7n-policystream\.md
docs/source/*/resources
